form.row.g-3.align-items-center.mb-3
  .col-sm-10.col-12
    input#inputIp.form-control(name='ip' type='text' placeholder='127.0.0.1')
  .col-sm-2.col-12.d-grid
    button.btn.btn-primary(type='submit') Find
