div
  .row 
    .col-auto.pe-0
      #icon-landing.fa.fa-map-marker
    .col-10
      h1 IP Geolocation
  p
    | A single page web site that performs a reverse lookup for a 
    | location from an IP address and displays it on a map
    br
    br
    | This project uses 
    a(href="https://ipfind.com/") IpFind
    |  API to fetch location details, while 
    a(href="https://leafletjs.com/") Leaflet
    |  library and 
    a(href="https://www.openstreetmap.org/") OpenStreetMap
    |  for displaying interactive friendly map.